.TabMenus {
  .container {
    border: 1px solid #ccc;
  }

  .tabList {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ccc;
  }

  .tab {
    flex: 0 0 25%;
    overflow: hidden;
    box-sizing: border-box;

    > button {
      display: block;
      width: 100%;
      padding: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    & + .tab {
      border-left: 1px solid #ccc;
    }

    &.current > button {
      background-color: #bde;
    }
  }

  .description {
    padding: 15px;
  }
  
  .tabMenu2 {
    .description {
      display: none;
      &.current {
        display: block;
      }
    }
  }
}
